:root {
    /* champagne pink */
    --primary-color: #faddc7;
    /* - Beige */
    --secondary-color: #EFEFD0;
    /* Azure */
    --accent1-color: #007FE0;
    /* Argentinian blue */
    --accent2-color: #61ACE5;
    --heading-font: "Kaushan Script", cursive;
    --text-font: "Montserrat", sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
    align-items: center;
}

nav {
    /* header nav */
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
}

nav a {
    /* a index, about, trips and contact */
    border: solid black;
    padding: 6px;
    /* margin: 10px; */
}

header img {
    grid-column-start: 1;
    align-self: center;
    justify-self: center;
    width: 10rem;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: var(--accent1-color);
    /* background-color: var(--secondary-color); */
}

header,
main,
footer {
    width: 840px;
    margin: auto;
    /* background-color: var(--secondary-color); */
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: black;
}

.hero article {
    position: absolute;
    top: 25%;
    background-color: var(--primary-color);
    color: black;
    font-weight: bold;
    opacity: 0.7;
}

.hero article img {
    float: right;
    width: 125px;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 20px auto;
    background-color: var(--primary-color);
}

.history h2 {
    grid-column-start: 2;
    text-align: center;
}

.history p {
    grid-row: 2;
}

.history img {
    width: 200px;
    grid-area: 2/2;
    padding: 8px;
    align-self: center;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    justify-items: center;
    background-color: var(--secondary-color);
}

.adventure h2 {
    grid-area: 1 / 1 / 1 / 6;
    text-align: center;
    padding: 8px;
}

.adventure img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: right;
    align-items: center;
    background-color: var(--primary-color);
}

.socialmedia {
    justify-self: center;
}

.socialmedia a {
    text-decoration: none;
    margin: 10px;
}