:root {
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --heading-text-color: rgb(114, 4, 4);
    --heading-background-color: rgb(120, 218, 246);
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    font-family: var(--heading-font);
    color: var(--heading-text-color)
}

main {
    max-width: 800px;
}

aside {
    width: 50rem;
    margin: 3px;
    border: 3px solid black;
    padding: 2px 10px;
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
}

aside img {
    width: 200;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px dotted black;
    text-align: center;
}