:root {
   --heading-background-color: darkblue;
   --text-color: white;
   --padding: 20px;
   --border: 1px solid black;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--text-color);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

main {
    width: 800px;
}

aside {
    width: 400px;
    margin: 20px 100px;
    border: var(--border);
    padding: var(--padding);
    background-color: var(--heading-background-color);
    color: var(--text-color);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin: 10px;
    border-top: var(--border);
    text-align: center;
}