nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

aside {
    width: 50rem;
    margin: 3px;
    border: 3px solid black;
    padding: 2px 10px;
    background-color: rgb(184, 191, 60);
    color: rgb(23, 6, 89);
}

aside img {
    width: 200;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 2px dotted black;
    text-align: center;
}